{% extends 'dashboard/base.html' %}
{% block title %}Category | Delete-confirm {% endblock %}

{% block content %}

<h3> Siz rostan ham {{ root.content }} ni o'chirmoqchimisiz? </h3>
    <a href="{% url 'dashboard-ctg-delete' pk=root.id %}">
        <button type="button" class="btn btn-wd btn-danger btn-rotate">
            <span class="btn-label">
                <i class="ti-trash"></i>
            </span> Delete Category
        </button>
    </a>
    <a href="{% url 'dashboard-ctg-list' %}">
        <button type="button" class="btn btn-wd btn-default btn-move-left">
            <span class="btn-label">
                <i class="ti-angle-left"></i>
            </span>
            Back to list
        </button>
    </a>
{% endblock %}